{% extends 'AppBundle::base.html.twig'%}
{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular-animate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-table/0.8.3/ng-table.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

    <div class="well well-lg">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <h4>Available inventory</h4>
            </div>
            <div class="col-sm-9"></div>
        </div>
        {% for inventory in inventoryItems %}
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-1 text-left">Inventory {{ inventory.name }}</div>
                <div class="col-sm-1 text-right"> x {{ inventory.quantity }}</div>
                <div class="col-sm-9"></div>
            </div>
        {% endfor %}
        <div class="row mrgn-up-1">
            <div class="col-sm-1"></div>
            <div class="col-sm-1 text-left" ng-controller="InventoryEditCtrl">
                <button type="button" class="btn btn-default btn-bg btn-block" ng-click="open()">Add</button>
            </div>
            <div class="col-sm-1 text-right" ng-controller="InventoryEditCtrl">
                <button type="button" class="btn btn-primary btn-bg btn-block disabled" ng-click="runAllocateInventory()">Run...</button>
            </div>
            <div class="col-sm-9"></div>
        </div>
        {% include 'AppBundle:partials:inventory_edit.html.twig' %}
        {% include 'AppBundle:partials:job_progress.html.twig' %}
    </div>
    {% verbatim %}
    <div class="row" ng-if="alloc_done">
    <div class="col-lg-8 col-lg-offset-2">
    <h1 class="text-center">Inventory allocations</h1>
    <table ng-controller="JobLogController" ng-table="tableParams" class="table">
        <tr ng-repeat="product in $data">
            <td data-title="'Title'">
                {{product.title}}
            </td>
            <td data-title="'Price'">
                {{product.price | currency}}
            </td>
            <td data-title="'Created Date'">
                {{product.createdDate | date}}
            </td>
        </tr>
    </table>
    </div>
    </div>
    {% endverbatim %}

</div>

<script>
    // Set the base url of the API as a property of the 'config'
    // service to access it in the app
    angular.module('app', ['ngTable', 'ngAnimate', 'ui.bootstrap'])
            .constant('config', {
                baseUrl: '{{ app.request.getBaseURL() }}/api'
            });
</script>

{% endblock %}
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
