<script type="text/ng-template" id="invEditContent.html">
    <form name="inventoryForm" ng-submit="submit()">
        <div class="modal-header">
            <h3 class="modal-title">Add Inventory</h3>
        </div>
        <div class="modal-body">
            {% for inventory in inventoryItems %}
                <div class="row">
                    <fieldset class="form-group">
                    <div class="col-xs-3">
                        <label for="{{ inventory.id }}">Inventory {{ inventory.name }}</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" name="inventory[{{ inventory.id }}]"
                               ng-model="inventory[{{ inventory.id }}]"
                               class="form-control" placeholder="extra value">
                    </div>
                    </fieldset>
                </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-modal" type="submit">OK</button>
            <button class="btn btn-default btn-modal" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
