<script type="text/ng-template" id="jobProgress.html">
    <div class="modal-header">
        <h3 class="modal-title">Allocating inventories. Please wait...</h3>
    </div>
    <div class="modal-body">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="60" aria-valuemax="100" style="width: 60%;">
            60%
        </div>
    </div>
    <div class="modal-footer">
    </div>
</script>
